<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table table-condensed table-triped">
    <thead>
    <tr>
        <td colspan="2">
            <h4>Barometers</h4>
        </td>
    </tr>
    </thead>
    <tbody>
        <f:if condition="{pi_flexform_transformed.settings.animation}">
            <tr>
                <th>Selected animation</th>
                <td>
                    {pi_flexform_transformed.settings.animation}
                </td>
            </tr>
        </f:if>
        <f:if condition="{_computed.singleRecords}">
            <tr>
                <th>Selected barometers</th>
                <td>
                    <f:for each="{_computed.singleRecords}" as="row">
                        <f:render section="rowElement" arguments="{table:'tx_tt3barometer_domain_model_barometer', row:row}"/>
                    </f:for>
                </td>
            </tr>
        </f:if>
    </tbody>
</table>

<f:section name="rowElement">
    <a href="#" class="t3js-contextmenutrigger" data-table="{table}" data-uid="{row.uid}" title="id={row.uid}">
        <core:iconForRecord row="{row}" table="{table}"/>
        {row._computed.title} ({row.value_now}{row.unit} of {row.value_max}{row.unit})<br>
    </a>
</f:section>
</html>
