.tx-tt3-barometer .barometer-item {
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
}
.tx-tt3-barometer .progress {
    height: 35px;
    border-radius:20px;
}
.tx-tt3-barometer .progress-bar {
    width: 0;
    border-radius:20px;
    transition: none;
}

.tx-tt3-barometer .progress-number {
    position: absolute;
    top: 0;
}
.tx-tt3-barometer .progress-number.valuemin {
    left:0;
    top: unset;
    bottom: 0;
}
.tx-tt3-barometer .progress-number.valuemax {
    right:0;
    top: unset;
    bottom: 0;
}

.tx-tt3-barometer .progress-number::before {
     content: "";
     position: absolute;
     bottom: -10px;
     transform: translateX(-50%);
     border-bottom: 5px solid #6C757D;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
}
.tx-tt3-barometer .progress-number.valuenow::before {
    top: -10px;
    bottom: unset;
    border-bottom: unset;
    border-top: 5px solid #6C757D;
}

.tx-tt3-barometer .progress-number::after {
    content: attr(aria-valuenow) '' attr(data-unit);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%,100%);
    padding: 4px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    background-color: #6C757D;
    border-radius: 3px;
}
.tx-tt3-barometer .progress-number.valuenow::after {
    top: -10px;
    bottom: unset;
    transform: translate(-50%,-100%);
    background-color: #6C757D;
}