<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <f:flashMessages />

    <f:for each="{barometers}" as="barometer">
        <div class="barometer-item" data-animation="{settings.animation}" aria-valuenow="{barometer.valueNow}" aria-valuemin="{barometer.valueMin}" aria-valuemax="{barometer.valueMax}">
            <div class="progress-number valuenow" aria-valuenow="{barometer.valueNow}" data-unit="{barometer.unit}"></div>
            <div id="barometer-{barometer.uid}" class="progress barometer-bar">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{barometer.valueNow}" aria-valuemin="{barometer.valueMin}" aria-valuemax="{barometer.valueMax}">
                    <f:if condition="{barometer.title}">
                        <span class="title">{barometer.title}</span>
                    </f:if>
                </div>
            </div>
            <f:if condition="{barometer.description}">
                <p class="description">{barometer.description -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}</p>
            </f:if>
            <div class="progress-number valuemin" aria-valuenow="{barometer.valueMin}" data-unit="{barometer.unit}"></div>
            <div class="progress-number valuemax" aria-valuenow="{barometer.valueMax}" data-unit="{barometer.unit}"></div>
        </div>
    </f:for>

</f:section>
</html>
